<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824635688634-gi892cqb7vihllnrhgrs7pj1u1eo602b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824635688634-gi892cqb7vihllnrhgrs7pj1u1eo602b</string>
	<key>API_KEY</key>
	<string>AIzaSyDpWNJi4bxzLaCQe2_OT6V5WUAYZ05LACM</string>
	<key>GCM_SENDER_ID</key>
	<string>824635688634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meatyokragames.6-foot-pole</string>
	<key>PROJECT_ID</key>
	<string>foot-pole</string>
	<key>STORAGE_BUCKET</key>
	<string>foot-pole.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824635688634:ios:5df3fd6d05d7251c096483</string>
	<key>DATABASE_URL</key>
	<string>https://foot-pole.firebaseio.com</string>
</dict>
</plist>